<div class="limiter">
	<div class="container-login100">
        <div class="product-area gray-bg pt-50 pb-50">
            <div class="container">
                <h1>All products</h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="forums-table-responsive">
                            <partial name="_CartTablePartial" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>